@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background-color:#FAFAFA;
    ;
}
.navbar {
    padding: 0.5rem 1rem;
}

.logo {
    width: 136px;
    height: 46px;
}


/* Custom styles */
.text-content {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sub-heading {
    font-size: 18px;
    font-weight: 700;
}

.main-heading {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.highlight {
    color: #dc3545; /* Danger color */
}

.body-text {
    font-size: 24px;
    font-weight: 400;
    color: #2D3142;
}

.button-group .btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545; /* Bootstrap danger color */
    border-color: #dc3545;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.text-content {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.main-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.highlight {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.full-width-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}
.footer .logo img {
    max-width: 100%;
    height: auto;
}
.footer .address {
    margin-top: 10px;
}
.footer .copyright {
    margin-top: 20px;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: #20484F;

}
footer h5,li{
    margin-bottom: 21.6px;
}
